<!DOCTYPE html>
<html lang="en">
<head>
 
  
  {{>head}}
 
  <title>Samex Hackathon</title>
</head>
 
<body>
 
{{>nav}}
 

<div class="container">
{{{body}}}
</div>
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="style.css">
</body>
</html>