<body background="three-vertical-halftone-banner-different-colors_1017-17363.jpg">
<div class="jumbotron mt-4 shadow">
  <h1 class="display-4"> DO LEAD </h1>
  <p class="lead"> 
  </p>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-heart card-icon"></i> </h5>
        <p class="card-text"> <h3> Develop your leadership skills through practical activities </h3>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-comments card-icon"></i> </h5>
        <p class="card-text"> <h3>Meet mentors who can help you grow </h3> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4 card-container shadow">
      <div class="card-body text-center">
        <h5 class="card-title"> <i class="fas fa-hand-holding-heart card-icon"></i> </h5>
        <p class="card-text"> <h3>Develop your personal leadership style</h3>
        </p>
      </div>
    </div>
  </div>
</div>
</body>