<h1> Tell Us More  </h1>

<form action = "info" method = "Post">
         <div class="form-group">
    <label for="exampleInputEmail1">Bio</label>
    <textarea class="form-control" name = "bio" id="exampleFormControlTextarea1" rows="3" placeholder = "give us a short description of yourself"></textarea>
  </div>
      <div class="form-group">
    <label for="exampleInputEmail1">What do you do</label>
    <input type="text" class="form-control" name = "job"  aria-describedby="emailHelp" placeholder="Profession/position etc.">
  </div>
  <div class="form-group">
    <label for="passions">What are your passions</label>
    <input type="text" class="form-control" name = "passions" aria-describedby="emailHelp" placeholder="Tell us what you like">
  </div>
   <div class="form-group">
    <label for="hobbies">What are your hobbies</label>
    <input type="text" class="form-control" name = "hobbies"  placeholder="Tell us what you do">
  </div>
     <div class="form-group">
    <label for="hobbies">Skills</label>
    <input type="text" class="form-control" name = "skills"  placeholder="What Skills do you currently posess">
  </div>
       <div class="form-group">
    <label for="hobbies">What leadership skills would you like to grow</label>
    <br>
    <input type="checkbox" value="Communication" name ="Communication" > Communication<br>
    <input type="checkbox" value="Delegation" name =  "Delegation">Delegation<br>
    <input type="checkbox" value="Responsibility" name = "Responsibility">Responsibility<br>
    <input type="checkbox" value="Relationshipb" name = "Relationshipb" >Relationship building<br>
    <input type="checkbox" value="Conflictman" name = "Conflictman">Conflict management<br>
    <input type="checkbox" value="Criticalt" name ="Criticalt" >Critical thinking<br>
    <input type="checkbox" value="Creativity" name ="Creativity">Creativity<br>
    <input type="checkbox" value="Negotiating" name ="Negotiating">Negotiating<br>
    <input type="checkbox" value="Organization" name = "Organization" >Organization<br>
    <input type="checkbox" value="Selfconfidence" name = "Selfconfidence" >Self confidence<br>
     <input type="checkbox" value="Discipline" name = "Discipline">Discipline<br>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>