<h1> Tell Us More  </h1>

<form action = "info" method = "Post">
         <div class="form-group">
    <label for="exampleInputEmail1">Bio</label>
    <textarea class="form-control" name = "bio" id="exampleFormControlTextarea1" rows="3" placeholder = "give us a short description of yourself"></textarea>
  </div>
      <div class="form-group">
    <label for="exampleInputEmail1">What do you do</label>
    <input type="text" class="form-control" name = "job"  aria-describedby="emailHelp" placeholder="Profession/position etc.">
  </div>
  <div class="form-group">
    <label for="passions">What are your passions</label>
    <input type="text" class="form-control" name = "passions" aria-describedby="emailHelp" placeholder="Tell us what you like">
  </div>
   <div class="form-group">
    <label for="hobbies">What are your hobbies</label>
    <input type="text" class="form-control" name = "hobbies"  placeholder="Tell us what you do">
  </div>
        <div class="form-group">
    <label for="hobbies">What leadership skills do you possess</label>
    <br>
    <input type="checkbox" value="Communication" name ="PCommunication" > Communication<br>
    <input type="checkbox" value="Responsibility" name = "PResponsibility">Responsibility<br>
    <input type="checkbox" value="PCriticalt" name ="PCriticalt" >Critical thinking<br>
  </div>
       <div class="form-group">
    <label for="hobbies">What leadership skills would you like to grow</label>
    <br>
    <input type="checkbox" value="Communication" name ="Communication" > Communication<br>
    <input type="checkbox" value="Responsibility" name = "Responsibility">Responsibility<br>
    <input type="checkbox" value="Criticalt" name ="Criticalt" >Critical thinking<br>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>